fastapi
uvicorn
psycopg2-binary
sqlalchemy
pydantic
asyncpg
PyJWT
passlib[bcrypt]
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langgraph
tavily-python
python-dotenv
requests
beautifulsoup4
playwright
playwright-stealth
aiohttp
openpyxl
scikit-learn
pandas
yfinance
pandera
scipy
headroom-ai[all]
